section.product-category
	.container
		.head-title
			h1 Products
		.row
			-for(i=0; i<6; i++)
				.col-lg-4
					.item-main-product
						.card_img
							a(href="#").zoom-in
								img(src="./img/home/h-main-1.png", alt="")
						.title-zone
							a(href="#") Takoyaki
			