section.brochure
	.container
		.head-title
			h1 Brochure
		.row
			.col-lg-10
				.table-brochure
					table.table.table-striped
						thead
							tr
								th(scope='col') Title
								|
								th(scope='col') Download
						tbody
							tr
								th(scope='row') Products in Vietnam
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Domestic products in Japan
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Products in Vietnam
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Domestic products in Japan
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Products in Vietnam
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Domestic products in Japan
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Products in Vietnam
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Domestic products in Japan
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Products in Vietnam
								|
								td
									a(href="")
										span.ri-download-fill
							|
							tr
								th(scope='row') Domestic products in Japan
								|
								td
									a(href="")
										span.ri-download-fill
							