section.home_s-4(setBackground="./img/home/bg-h-news.png")
	.container
		.head-title
			h2 News
		.row
			.col-lg-6
				.home-news
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-h
						.title-news-h
							a(href="#") All-you-can-eat, anyone? COVID-19's impact on the European shrimp market
			.col-lg-3
				.home-news-small
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-h-small
						.date
							time 02/10/2020
						.title-news-h
							a(href="#") Shrimp exports projected to up 9.8 percent this year
						.view-more
							a(href="#") View more
							.img
								img(src="./img/home/h-icon-blue.png", alt="")
			.col-lg-3
				.home-news-small
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-h-small
						.date
							time 02/10/2020
						.title-news-h
							a(href="#") Vietnamese shirimp continues to domainate the UK market
						.view-more
							a(href="#") View more
							.img
								img(src="./img/home/h-icon-blue.png", alt="")
		.all-view-more
			.img
				img(src="./img/home/h-icon.png", alt="")
			a(href="#") View all