section.home_s-3
	.container
		.head-title
			h2 Partners
		.row
			.col-lg-6
				.content-partners
					.title-partners
						h3 We are specialists of developement, seafood and food processing in Asia/South east Asia called food factory of the world.
					.description In sales activities, we provide processed products to all over the world, including Japan, North American, Europo, Oceania, and Asia, and we consumer's perspective.
					.view-more
						.img
							img(src="./img/home/h-icon.png", alt="")
						a(href="#") View more
			.col-lg-6
				.card_img
					.img
						img(src="./img/home/h-partners-1.png", alt="")