section.about(setBackground='./img/about/bg-1.png')
	.container
		.head-title
			h1 About us
		.row
			.col-lg-4
				.content-about
					.caption-about We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing, estabblished sales and food supply chain domestic and international market in Vietnam. And we have a rote to provide every food culture into the world
					.caption-about We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing, estabblished sales and food supply chain domestic and international market in Vietnam. And we have a rote to provide every food culture into the world. We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing
			.col-lg-4
				.card_img
					.img
						img(src="./img/about/1.png", alt="")
			.col-lg-4
				.content-about
					.caption-about We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing, estabblished sales and food supply chain domestic and international market in Vietnam. And we have a rote to provide every food culture into the world. We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, developmentprovide every food culture into the world
					.caption-about We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing, estabblished sales and food supply chain domestic and international market in Vietnam. And we have a rote to provide every food culture into the world. We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development, processing

section.about-2(setBackground='./img/about/bg-2.png')
	.container
		.head-title
			h2 History development
		.about-news-swiper-wrapper
			.nav-arrow-prev
				img(src="./img/home/h-icon-2.png", alt="")
			.nav-arrow-next
				img(src="./img/home/h-icon.png", alt="")
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<8; i++)
						.swiper-slide
							.wrapper
								.caption-slide 2017
								.text We handle mainly marine products, processed frozen foods and frozen seafood. Procurement and research of raw materials, development
								.img-slide
									.img
										img(src="./img/about/2.png", alt="")

section.about-3
	.container
		.row
			.col-lg-4
				.card_img
					.img
						img(src="./img/about/3.png", alt="")
			.col-lg-4
				.desc-about-3
					.head-title
						h2  Our services
					.caption-about We have been finding and providing the highest quality seafood from all over Vietnam. We always try to do the best we can to serve our customers with new and developmented products, continuing to supply safe and reliable products to fulfill our customer's needs.
			.col-lg-4
				.card_img
					.img
						img(src="./img/about/3.png", alt="")

section.about-4(setBackground="./img/home/bg-international-h.png")
	.container
		.head-title
			h2 Certificates - Awards
		.about-certificates-swiper-wrapper
			.nav-arrow-prev
				img(src="./img/home/h-icon-2.png", alt="")
			.nav-arrow-next
				img(src="./img/home/h-icon.png", alt="")
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<8; i++)
						.swiper-slide
							.wrapper.zoom-in
								img(src="./img/home/brand-1.png", alt="")

section.about-5
	.container
		.head-title
			h2 Our system
		.desc-system In sales activities, we provide processed to all the world, including Japan, North American, Europe, Oceania, and Asia, and we constantly develop real-time needs and develop products from the consumer's perspectiveNorth American, Europe, Oceania, and Asia, and we constantly develop real-time needs
		.row
			.col-lg-4
				.item-about-5
					.card_img
						.img
							img(src="./img/about/5.png", alt="")
					.caption SS Food Vietnam Trading Co., Ltd.
					.item-hover
						.item-hover-inner
							.title-hover Fresh Food Co., Ltd
							.content-hover
								ul
									li
										p Type of Industry: Food Processing
									li
										p Handlling Product Meat processing product/Seafood prcessing product/Vegetable processing product/Retort product/Sushi product/Delicacy product/Others
									li
										p Headquarters / Hasaki Factory: 5279 Hasaki, Kamicu City, lbaraki Prefecture, 314-0408
									li
										p Choshi Factory: 1426 Ashisaki-cho, Choshi, Chiba 288-0861
			.col-lg-8
				.item-about-5
					.card_img
						.img
							img(src="./img/about/a-5.png", alt="")
					.caption SS Food Vietnam Trading Co., Ltd.
					.item-hover
						.item-hover-inner
							.title-hover Fresh Food Co., Ltd
							.content-hover
								ul
									li
										p Type of Industry: Food Processing
									li
										p Handlling Product Meat processing product/Seafood prcessing product/Vegetable processing product/Retort product/Sushi product/Delicacy product/Others
									li
										p Headquarters / Hasaki Factory: 5279 Hasaki, Kamicu City, lbaraki Prefecture, 314-0408
									li
										p Choshi Factory: 1426 Ashisaki-cho, Choshi, Chiba 288-0861
			.col-lg-4
				.item-about-5
					.card_img
						.img
							img(src="./img/about/5.png", alt="")
					.caption SS Food Vietnam Trading Co., Ltd.
					.item-hover
						.item-hover-inner
							.title-hover Fresh Food Co., Ltd
							.content-hover
								ul
									li
										p Type of Industry: Food Processing
									li
										p Handlling Product Meat processing product/Seafood prcessing product/Vegetable processing product/Retort product/Sushi product/Delicacy product/Others
									li
										p Headquarters / Hasaki Factory: 5279 Hasaki, Kamicu City, lbaraki Prefecture, 314-0408
									li
										p Choshi Factory: 1426 Ashisaki-cho, Choshi, Chiba 288-0861
			.col-lg-8
				.item-about-5
					.card_img
						.img
							img(src="./img/about/a-5.png", alt="")
					.caption SS Food Vietnam Trading Co., Ltd.
					.item-hover
						.item-hover-inner
							.title-hover Fresh Food Co., Ltd
							.content-hover
								ul
									li
										p Type of Industry: Food Processing
									li
										p Handlling Product Meat processing product/Seafood prcessing product/Vegetable processing product/Retort product/Sushi product/Delicacy product/Others
									li
										p Headquarters / Hasaki Factory: 5279 Hasaki, Kamicu City, lbaraki Prefecture, 314-0408
									li
										p Choshi Factory: 1426 Ashisaki-cho, Choshi, Chiba 288-0861



section.about-6
	.container
		.head-title
			h2 Our partners - Client
		.desc-client In sales activities, we provide processed to all the world, including Japan, North American, Europe, Oceania, and Asia, and we constantly develop real-time needs and develop products from the consumer's perspective
		.about-client-swiper-wrapper
			.nav-arrow-prev
				img(src="./img/home/h-icon-2.png", alt="")
			.nav-arrow-next
				img(src="./img/home/h-icon.png", alt="")
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<8; i++)
						.swiper-slide
							.wrapper.zoom-in
								img(src="./img/home/brand-1.png", alt="")