section.news-list
	.container
		.head-title
			h1 News
		.row
			.col-lg-6
				.item-news
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-news
						.title-news
							a(href="#") All-you-can-eat, anyone? COVID-19's impact on the European shrimp market
			.col-lg-3
				.item-news-small
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-news-small
						.date
							time 02/10/2020
						.title-news
							a(href="#") Shrimp exports projected to up 9.8 percent this year
						.view-more
							a(href="#") View more
							.img
								img(src="./img/home/h-icon-blue.png", alt="")
			.col-lg-3
				.item-news-small
					.card_img
						a(href="#").zoom-in
							img(src="./img/home/h-news-1.png", alt="")
					.content-news-small
						.date
							time 02/10/2020
						.title-news
							a(href="#") Vietnamese shirimp continues to domainate the UK market
						.view-more
							a(href="#") View more
							.img
								img(src="./img/home/h-icon-blue.png", alt="")
		.row
			-for(i=0; i<4; i++)
				.col-lg-3
					.item-news-small
						.card_img
							a(href="#").zoom-in
								img(src="./img/home/h-news-1.png", alt="")
						.content-news-small
							.date
								time 02/10/2020
							.title-news
								a(href="#") Vietnamese shirimp continues to domainate the UK market
							.view-more
								a(href="#") View more
								.img
									img(src="./img/home/h-icon-blue.png", alt="")