section.contact
	.container
		.head-title
			h1 Contact us
		.row
			.col-lg-3
				.item-contact
					.icon-img
						img(src="./img/contact/c-icon-1.png", alt="")
					.title-icon SS Food Vietnam Company Limited
			.col-lg-3
				.item-contact
					.icon-img
						img(src="./img/contact/c-icon-2.png", alt="")
					.title-icon Address
					.text-icon 12th Floor, Harbour View Tower, 35 Nguyen Hue Street, Ben Nghe Wrad, District 1, Ho Chi Minh City, Viet Nam.
			.col-lg-3
				.item-contact
					.icon-img
						img(src="./img/contact/c-icon-3.png", alt="")
					.title-icon Phone number
					.text-icon +84-28 - 2253-5954
			.col-lg-3
				.item-contact
					.icon-img
						img(src="./img/contact/c-icon-4.png", alt="")
					.title-icon Email
					.text-icon info@ssfood-vn.com

		.row
			.col-lg-10
				.text-form Please contact us if you have question about our product and service. The personal information you have entered will only be used when we contact you to respond to your
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Name*")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Telephone*")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email*")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Company*")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Message*")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="SEND REQUEST")

		.map-wrapper
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="500px")

				
