section.home_s-1(setBackground="./img/home/h-about-1.png")
	.container
		.row
			.col-lg-8
				.head-title
					h1 About us
				.description We have been finding and providing the highest quaility seafood fromall over VietNam. We always try to do the best we can to serve our customers with new and developed products, continuing to supply safe and reliable products to fulfill our customer's needs.
				a(href="#").view-more
					img(src="./img/home/h-icon.png", alt="")
					span View more