footer
	.footer-block
		.container
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-address.pr-40
						.card__title
							h4 SSFood Viet Nam Trading Company Limited
						.card__body
							ul
								li
									p 117, Street 3, Cu Xa Lu Gia, Ward 15, District 11, Ho Chi Minh City, Vietnam
								li
									a(href="#") Website: www.ssfood.com
									p Phone: 0123456789
									p Fax: 0123456789
									p Email: info@ssfood.com
								.footer-links

									li
										a(href="")
											i.ri-facebook-box-fill
									li
										a(href="")
											i.ri-instagram-line
									li
										a(href="")
											i.ri-youtube-fill
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 About us
						.item-footer
							ul
								li
									a(href="#") General Introduction
								li
									a(href="#") History development
								li
									a(href="#") Our services
								li
									a(href="#") Certificates - Awards
								li
									a(href="#") Our system
								li
									a(href="#") Our Partners - Clients
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Products
						.item-footer
							ul
								li
									a(href="") Shrimp
								li
									a(href="") Octopus
								li
									a(href="") Squid
								li
									a(href="") Takoyaki
								li
									a(href="") Pancake
								li
									a(href="") Breaded Fish
								li
									a(href="") Fish cake
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Ouick Links
						.item-footer
							ul
								li
									a(href="") Brochures
								li
									a(href="") News
								li
									a(href="") Contact us
								li
									.img
										img(src="./img/home/footer.png", alt="")
	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-text
					p copyright © 2020 SS Food vietnam company limited. All rights reserved. Website designed by Cánh Cam. Terms of use temap
				//- .right-bottom
				//- 	ul
				//- 		li
				//- 			a(href="")
				//- 				i.ri-linkedin-fill
				//- 		li
				//- 			a(href="")
				//- 				i.ri-facebook-box-fill
				//- 		li
				//- 			a(href="")
				//- 				i.ri-instagram-line
				//- 		li
				//- 			a(href="")
				//- 				i.ri-youtube-fill