section.product-list
	.container
		.head-title
			h2 Products
		.row
			.col-lg-3
				.item-product-list
					.sub-title-product
						h2 Products list
					.content
						ul
							li.has-dropdown.active
								.title-pro-zone
									a(href="#") Takoyaki
									span.ri-arrow-down-s-line
								ul.sub-product
									li.sub-has-dropdown
										a(href="#") Okonomiyaki (Japanese pancake)
									li.active.sub-has-dropdown
										a(href="#") Chiijimi (korea pancake)
							li
								a(href="#") Pancake
							li
								a(href="#") Breaded Fish
							li
								a(href="#") Shrimp
							li
								a(href="#") Octopus
							li
								a(href="#") Squid
							li
								a(href="#") Fish cake
			.col-lg-9
				.title-product
					h1 Chiijimi (korea pancake)
				.row
					-for(i=0; i<9; i++)
						.col-lg-4
							.right-pro-list
								.card_img
									a(href="#").zoom-in
										img(src="./img/product/1.png", alt="")
								.caption
									a(href="#") Baro chijimi
