<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
    <add name="Footer" value="2" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>