<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu trái" value="1" resourcefile="" />
      <add name="Menu phải" value="2" resourcefile="" />
      <add name="Menu footer - About us" value="4" resourcefile="" />
      <add name="Menu footer - Products" value="8" resourcefile="" />
      <add name="Menu footer - Quick Links" value="16" resourcefile="" />
      <add name="Home - Product" value="32" resourcefile="" />
    </position>

</settings>