header
	.container
		.header
			.menu-left
				ul.nav-menu
					li.active
						a(href="index.html") Home
					li
						a(href="about.html") About Us
					li
						a(href="product-category.html") Products
					li
						a(href="") Brochures
			.logo-center
				.logo
					a(href="index.html")
						img(src="./img/home/logo.png", alt="")
			.menu-right
				ul.nav-menu
					li
						a(href="news-list.html") News
					li
						a(href="contact.html") Contact us
				.search-icon
					span.ri-search-2-line
				.language
					a.current VN
						span.ri-arrow-down-s-fill
					ul.drop-down
						li
							a EN
				.wapper-hotline
					.hotline
						.right-img
							img(src="./img/home/icon-call.png", alt="")
						p Hotline :
						a(href="tel:+0618 856696") 0618 856696
				.header_btn
					span.ri-menu-line
	.block_search
		.search-icon
			span.ri-close-line
		.search_box
			input(type="text" placeholder="Tìm kiếm")
			button(type="submit").ri-search-line
	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay