section.home-banner
	.container-fuild
		.banner-slide-swiper-wrapper
			.nav-arrow-prev
				em.ri-arrow-left-s-line
			.nav-arrow-next
				em.ri-arrow-right-s-line
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a
								img(src="./img/banner/1.png", alt="")
						.caption
							h2.title-caption We are specialists of development, seafood and food processing in Asia/South east Asia
